input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid hsl(21, 100%, 45%);
  box-shadow: 0 1px 0 0 hsl(21, 100%, 45%);
}
